@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projeto Processo Seletivo</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Bem Vindo ao Processo Seletivo</h2>
        <p>
            O objetivo deste projeto é criar um cadastro de produtos e 
            categorias e mostrá-los conforme necessidades
        </p>
    </div>
    <div class="col-md-6">
        <h2>Tecnologia utilizada:</h2>
        <p>Iremos utilizar neste projeto, MVC5 com acesso ao banco através do NHibernate</p>
    </div>
</div>